Source: dyneinsle
Section: net
Priority: extra
Maintainer: Robert Einsle <robert@einsle.de>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/reinsle/dyneinsle
Vcs-Git: git://github.com/reinsle/dyneinsle.git

Package: dyneinsle
Architecture: all
Depends: curl, bind9utils, dnsutils, python3, python3-netifaces, python3-urllib3
Description: dyndns client for einsles dyndns
 dyneinsle is the client to use einsles dyndns service.
